alabaster
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
atomicwrites==1.4.0
attrs==25.3.0
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black
bleach
bokeh
boto3
botocore
Bottleneck
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comtypes==1.1.10
constantly==15.1.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.6.0
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docutils
entrypoints
et-xmlfile==1.1.0
exceptiongroup==1.2.2
fastjsonschema
filelock
flake8
Flask
flask-cors==5.0.1
fonttools==4.25.0
fsspec
future
gensim
glob2
greenlet
h11==0.16.0
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
Flask
flask-cors
flask-migrate      # For database migrations
Flask-RESTful
requests
Flask-SQLAlchemy   # If you're using a SQL database
python-dotenv      # For loading environment variables
debugpy            # For debugging
